/* Variables */

// Font Sizes
$font-s: 1rem; // 16px
$font-sm: 1.25rem; // 20px
$font-med: 2rem; // 32px
$font-ml: 2.5rem; // 40px
$font-lg: 3rem; // 48px
$font-xlg: 4rem; // 64px
$font-xxlg: 5rem; // 80px

// Font family
$font-primary: 'Spartan';
$font-secondary: 'Dancing';
$font-title: 'Cardo';

// Font weight
$bold: 700;
$medium: 500;
$regular: 400;

// Height
$headerHeight: 3.5rem;

