@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-VariableFont_opsz,wght.ttf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Georama';
  src: url('./assets/fonts/Georama-VariableFont_wdth,wght.ttf');
  font-display: swap;
  font-style: normal;
}