/* Small devices */
@include breakpoint-down(small) {
  .container { margin-inline: 1rem; }
  .section { padding-block: 4rem 1rem;}
  
  .home__title { font-size: 2rem; }
  .footer__content { gap: 1.5rem; }
}

/* Medium devices */
@include breakpoint-up(medium) {
  
  .hero__container,
  .formation__container,
  .package__container,
  .forward__container,
  .agences_container {
    grid-template-columns: .7fr;
    justify-content: center;
  }
  
  .footer__content {
    grid-template-columns: repeat(2, max-content);
  }
}

@include breakpoint-up(tablet) {
  .hero {
    &__container { margin-top: 20%; }
    &__subtitle { font-size: 4rem; }
    &__description,
    &__title { font-size: 1.1rem; }
  }
  
  .formation,
  .forward,
  .agences  {
    &__container {
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-content: center;
    }
    &__data { order: 1; }
    &__data,
    & .section__subtitle,
    & .section__title {
      text-align: initial;
    }
    &__title div {
      column-gap: 1rem;
      justify-content: initial;
    }
    &__description { padding-inline: 0 5rem; }
    &__img { width: 450px; }
  }

  .formation {
    &__content { margin-bottom: 2rem; }
    &__description { margin-bottom: 1rem; }
    &__img { order: 1; }
  }
  
  .package {
    &__card--wrapper { grid-template-columns: 50% 50%; }
  }
  .agences {
    &__container { grid-template-columns: 50% 50%; }
    &__content { min-height: 200px; }
  }
  .footer {
    &__content { grid-template-columns: repeat(4, max-content); }
}

/* Large devices */
@include breakpoint-down(large) { // max-width
  .nav {
    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      background-color: $yellow;
      width: 100%;
      box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
      padding-block: 3.5rem;
      transition: top .4s;
    }
    /* Show menu */
.show-menu { top: 0; height: 50vh; }
  }
}

@include breakpoint-up(large) { // min-width
  .nav {
    column-gap: 3rem;
    &__list { flex-direction: row; column-gap: 3rem; }
    &__logo { flex-grow: 0; }
    &__close,
    &__toggle { display: none; }
  }
  .section {
    padding-block: 6rem 1.5rem;
    &__subtitle { margin-bottom: .75rem; }
  }
  .hero {
    &__container {
      position: relative;
    }
    &__data {
      text-align: initial;
      order: -1;
    }
    &__title div {
      justify-content: initial;
      column-gap: 1rem;
    }
    &__img {
      width: 400px;
      position: absolute;
      top: 0;
      right: 2rem;
    }
  }
  
  .formation,
  .package,
  .forward,
  .agences  {
    &__container {
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-content: center;
    }
    &__data { order: 1; }
    &__data,
    & .section__subtitle,
    & .section__title {
      text-align: initial;
    }
    &__title div {
      column-gap: 1rem;
      justify-content: initial;
    }
    &__description { padding-inline: 0 5rem; }
    &__img { width: 450px; }
  }
  
  
  .croquembouche__data,
  .numberCake__data,
  .about__data { order: -1; }
  
  .footer {
    padding-block: 8rem 3rem;
    &__container {
      position: relative;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }
    &__content { column-gap: 4rem; }
    &__title,
    &__description,
    &__link, 
    &__information { font-size: $font-s; }
    &__social-link { font-size: 1.5rem; }
    &__info {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8.5rem;
    }
    &__copy { order: -1; }
  }
}

@include breakpoint-up(xlarge) {
  .container { margin-inline: auto; }
  
  .nav { 
    height: calc($headerHeight + 1.5rem);
    column-gap: 3rem; 
    &__toggle,
    &__close {
      display: none;
    }
    &__list {
      flex-direction: row; column-gap: 3rem;
    }
    &__menu {
      margin-left: auto;
    }
  }  
}
