/* Small devices */
@media (max-width: 380px) {
  .nav {
    &__cta { font-size: 10px; justify-content: center; } 
  }
  .agences {
    &__content a { min-width: auto; }
  }
  .permis {
    & h2 { font-size: 35px; }
    & h3 { font-size: 30px; }
  }
}
@media (min-width: 380px) {
  .container { margin-inline: 1rem; }
  .section { padding-block: 4rem 1rem;}
  
  .home__title { font-size: 2rem; }
  .package__title { font-size: 1.85rem; }
  .agences {
    & h2 { padding: 10px; }
  }
  .footer__content { gap: 1.5rem; }
}

@media (min-width: 425px) {
  .contact {
    &__left div { padding: 2rem; }
  }
}

/* Medium devices */
@media (max-width: 600px) {
  .header { padding: 18px 10px; }
}
@media (min-width: 640px) {
  .hero__container,
  .formation__container,
  .package__container,
  .forward__container,
  .agences_container {
    grid-template-columns: .7fr;
    justify-content: center;
  }
  
  .footer__content {
    grid-template-columns: repeat(2, max-content);
  }
}

/* Tablet */
@media (min-width: 767px) {
  .hero {
    &__subtitle { font-size: 4rem; }
    &__description,
    &__title { font-size: 1.1rem; }
  }
  .formation,
  .forward,
  .agences  {
    &__container {
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-content: center;
    }
    & .section__subtitle,
    & .section__title { text-align: initial; }
  }
  .formation {
    &__container { grid-template-columns: 50% 5% 45%;}
    &__description { margin-bottom: 1rem; padding: 0; text-align: justify; }
    &__img { order: 0; }
    &__badge { bottom: -4%; width: auto; }
  }
  .package {
    &__card--wrapper { grid-template-columns: 50% 50%; }
  }
  .forward {
    &__img {
      padding-block: 0;
      &--one { order: 0;}
    }
  }
  .agences {
    &__container { grid-template-columns: 50% 50%; }
    &__content { min-height: 220px; }
  }
  // permis
  .permisPresentation {
    padding-top: 6rem;
  }
  // contact
  .contact {
    &__left div { padding: 3rem; }
  }
  // footer
  .footer {
    padding-block: 40vh 2rem;
    &__insta {
      top: 3%;
      left: 30vw;
      width: 35vw;
    }
    & h4 { font-size: 3.5vw; }
    &__form { 
      grid-template-columns: 25% 25% 50%;
      &-adress { text-align: end; }
    }
    &__after .container {
      grid-template-columns: 58% 16% 26%;
      align-items: center;
    }
  }
}

@media (min-width: 992px) {
  .contact {
    &__left div { padding: 4rem; }
  }
}

/* Large devices */
@media screen and (max-width: 1023px) { 
  .nav {
    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      background-color: $yellow;
      width: 100%;
      box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
      padding-block: 3.5rem;
      transition: top .4s;
    }
    /* Show menu */
    .show-menu { top: 0; height: 50vh; }
    &__logo img { max-width: 120px; }
  }
  
  // contact
  .contact {
    &__left { padding: 13rem 0 5rem; }
  }
}
@media screen and  (min-width: 1024px) {
  .container { margin-inline: 4rem; }
  .nav {
    grid-template-columns: repeat(5, 1fr);
    &__list { 
      flex-direction: row;
      & li + li { margin-left: 30px; }
    }
    &__logo { 
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
    }
    &__menu { 
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &__cta {
      grid-column-start: 4;
      grid-column-end: 6;
    } 
    &__close,
    &__toggle { display: none; }
    &__link { font-size: 1rem;}
  }
  /* Change background header */
  .bg-header{
    top: 5%;
    transform: scale(0.9);
  }
  .section {
    padding-block: 6rem 1.5rem;
    &__subtitle { margin-bottom: .75rem; }
  }
  .hero {
    & .mustache { left: 10%; transform: rotate(-20deg); }
  } 
  .footer {
    padding-block: 50vh 2rem;
    &__insta {
      top: 3%;
      left: 30vw;
      width: 30vw;
    }
    & h4 { font-size: 3vw; }
    &__after {
      & span { font-size: 9vw; }
    }
  }
  
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__left {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      height: 100vh;
      & div { padding: 5rem; }
    }
    &__right { margin: 7rem 0 0; padding: 50px 0; }
  }
}

@media (min-width: 1400px) {
  .container { margin-inline: auto; }
  
  .nav {
    &__toggle,
    &__close {
      display: none;
    }
    &__list {
      flex-direction: row; column-gap: 3rem;
    }
    &__menu {
      margin-left: auto;
    }
  } 
  .agences__content a { min-width: 500px; padding: 60px; }
}
