/* Small devices */
@media (max-width: 380px) {
  .nav {
    &__cta { font-size: 12px; justify-content: center; } 
  }
}
@media (min-width: 380px) {
  .container { margin-inline: 1rem; }
  .section { padding-block: 4rem 1rem;}
  
  .home__title { font-size: 2rem; }
  .package__title { font-size: 1.85rem; }
  .agences {
    & h2 { padding: 10px; }
  }
  .footer__content { gap: 1.5rem; }
}

/* Medium devices */
@media (min-width: 640px) {
  .hero__container,
  .formation__container,
  .package__container,
  .forward__container,
  .agences_container {
    grid-template-columns: .7fr;
    justify-content: center;
  }
  
  .footer__content {
    grid-template-columns: repeat(2, max-content);
  }
}

@media (min-width: 767px) {
  .hero {
    &__container { position: absolute; }
    &__subtitle { font-size: 4rem; }
    &__description,
    &__title { font-size: 1.1rem; }
  }
  .formation,
  .forward,
  .agences  {
    &__container {
      grid-template-columns: 50% 50%;
      align-items: center;
      justify-content: center;
    }
    & .section__subtitle,
    & .section__title { text-align: initial; }
  }
  .formation {
    &__container { grid-template-columns: 50% 5% 45%;}
    &__description { margin-bottom: 1rem; padding: 0; text-align: justify; }
    &__img { order: 0; }
    &__badge { bottom: -4%; width: auto; }
  }
  .package {
    &__card--wrapper { grid-template-columns: 50% 50%; }
  }
  .forward {
    &__img {
      padding-block: 0;
      &--one { order: 0;}
    }
  }
  .agences {
    &__container { grid-template-columns: 50% 50%; }
    &__content { min-height: 240px; }
  }
  .footer {
    & h4 { font-size: 3.5vw; }
    &__form { 
      grid-template-columns: 25% 25% 50%;
      &-adress { text-align: end; }
    }
    &__after .container {
      grid-template-columns: 58% 16% 26%;
      align-items: center;
    }
  }
}

/* Large devices */
@media screen and (max-width: 1023px) { 
  .nav {
    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      background-color: $yellow;
      width: 100%;
      box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
      padding-block: 3.5rem;
      transition: top .4s;
    }
    /* Show menu */
    .show-menu { top: 0; height: 50vh; }
  }
}
@media screen and  (min-width: 1024px) { 
  .nav {
    grid-template-columns: 20% 50% 20%;
    column-gap: 3rem;
    &__list { flex-direction: row; column-gap: 3rem; }
    &__logo { flex-grow: 0; }
    &__close,
    &__toggle { display: none; }
    &__link { font-size: $font-sm;}
  }
  .section {
    padding-block: 6rem 1.5rem;
    &__subtitle { margin-bottom: .75rem; }
  }
  
  .footer {
    padding-block: 8rem 3rem;
    &__container {
      position: relative;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }
    &__content { column-gap: 4rem; }
    &__title,
    &__description,
    &__link, 
    &__information { font-size: $font-s; }
    & h4 { font-size: 3vw; }
    &__social-link { font-size: 1.5rem; }
    &__info {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8.5rem;
    }
    &__copy { order: -1; }
  }
}

@media (min-width: 1400px) {
  .container { margin-inline: auto; }
  
  .nav {
    max-width: 1300px;
    height: calc($headerHeight + 1.5rem);
    column-gap: 3rem; 
    &__toggle,
    &__close {
      display: none;
    }
    &__list {
      flex-direction: row; column-gap: 3rem;
    }
    &__menu {
      margin-left: auto;
    }
  }  
}
