// Buttons
.cta {
	display: inline-flex;
	align-items: center;
	column-gap: .5rem;
	background-color: $red-100;
	padding: 1rem 1.5rem .8rem;
	border-radius: 4rem;
	color: $white;
	font-weight: $medium;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
	transition: all .3s ease-in;

		& i {
			font-size: 1.5rem; transition: transform .3s;
		}
		&:hover {
			background-color: $yellow;
			& i { transform: translateX(.25rem);}
		}

		&--red { background: $red-100;
			&:hover { background-color: $yellow; color: $red-100; scale: (1.05); }
		}
		&--yellow { background: $yellow; color: $red-100;
			&:hover { background-color: $red-100; color: $yellow;scale: (1.05); }
		}
}
