.form {
  padding-block: 4rem 1rem;
  &__subtitle {
    font-family: $font-title;
    font-size: $font-ml;
  }
  &__description {
    padding: 1rem;
    width: 60%;
    margin: auto;
    max-width: 800px;
    text-align: center;
  }
  &__container {
    padding-inline: 5%;
    max-width: 80%;
    margin: auto;
    background: bisque;
    padding: 2rem;
    border-radius: 28px;
  }
  & div.wpforms-container-full {
    margin: auto;
  }
  & .wpforms-container .wpforms-one-third.wpforms-first {
    width: 100%;
  }
  & div.wpforms-container-full input[type=text] {
    border-radius: 10px;
  }
  & div.wpforms-container-full button[type=submit]:not(:hover):not(:active) {
    background-color: $brown-100;
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: $white;
    font-weight: $medium;
  }
}

.footer {
  background-color: #F4D9D2;
  position: relative;
  padding-block: 3rem 2rem;
  overflow: hidden;
  & h4 {
    font-family: $font-title;
    color: $red-100;
    font-size: 9.5vw;
    font-weight: 900;
    margin-block: 3.5rem;
  }
  &__form {
    display: grid;
    & >div { padding-bottom: 1rem; }
    & p, & a { color: $red-100; }
    &-mail p, &-social p { text-decoration: underline; }

  }
  &__after {
    & .container { display: grid; justify-items: center; }
    & span {
      color: $red-100;
      font-size: 10vw;
      font-weight: 700;
    }
  }
  &__links { row-gap: .5rem; }
  &__link {
    color: $lightBlack;
    transition: color .3s;
      &:hover { color: $black; }
  }

  &__info { 
    display: flex;
    margin-top: 6.5rem;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  &__copy {
    text-align: center;
    font-size: $font-s;
    color: $lightBlack;
  }
}