.contact {
  margin-top: -50px;
  &__left {
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    text-align: center;
    line-height: 1.3;
    margin: -8rem 0 0;
    background: #D9A384;
    color: $white;
    &  div { padding: 1rem; }
    & p, a {
      color: $white;
      text-align: center;
      margin-top: 20px;
    }
  }
  &__title { font-size: $font-med; }
  & button {
    transition-duration: 0.5s;
    display: inline-block;
    background: transparent;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 100px;
    padding: 15px 25px;
    color: $white;
  }
  &__form form {
    padding: 70px;
    transition: 225ms;
  }
}


