.contact {
  margin-top: -100px;
  &__left {
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    margin: -8rem 0 0;
    background: #D9A384;
        &  div { padding: 1rem; }
  }
    &__title { 
      font-size: $font-med; 
      & p, a {
        color: $white;
        text-align: center;
        margin-top: 20px;
      }
    }

  & button {
    transition-duration: 0.5s;
    display: inline-block;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 4px;
    padding: 15px 25px;
  }
  &__form form {
    padding: 70px;
    transition: 225ms;
  }
}


