.permisPresentation {
  background: #052537;
  & h1 {
    font-family: $font-title;
    color: $white;
    padding-top: 10vh;
  }
  & p { color: $white; }
  &__cta { margin-top: 20px; }
}

.permis {
  background: #37997d;
  color: $white;
  padding: 0 20px;
  
  & h2, h3, h4 { font-family: $font-title; color: $white; }
  & h2 { 
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  & h3 {
    font-size: 35px;
    font-weight: 500;
    line-height: 1;
  }
  & li { list-style: disc; }
  &__description {
    display: block;
    line-height: 1.5;
    & > div { margin-block: 20px; }
  } 
  
}

