.permisPresentation {
  background: #052537;
  padding-bottom: 3rem;
  padding-top: 4rem;
  margin-top: -50px;
  & h1 {
    font-family: $font-title;
    color: $white;
    padding-top: 7vh;
  }
  & p { color: $white; padding: 0 40px 0 0; text-align: justify; }
}

.evaluation {
  &__wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
  }
  &__data {
    margin-bottom: 20px;
    & .hithere {
      animation: hithere 1s ease infinite;
    }
  }
  &__details {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
  }
}

@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.permis {
  background: #37997d;
  color: $white;
  padding: 0 16px;
  & h2, h3, h4 { font-family: $font-title; color: $white; }
  & h2 { 
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }
  & h3 {
    font-size: 35px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 15px;
  }
  & li { list-style: disc; }
  &__description {
    display: block;
    line-height: 1.5;
    & > div { margin-block: 20px; }
    & span { display: block; }
    & p, span { padding: 0 40px 0 0; }
    &--left { border-bottom: 1px solid $white; border-radius: 5px;}
  }
  & .cta { margin: 20px 0; }
  &__price {
    font-size: 30px;
    font-weight: 500;
  }
}

.documents {
  & .container { padding: 0 20px; }
  & h2 {
    font-family: $font-title;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  & li { list-style: disc; }
}

